#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=prod
BUNDLE_NAME=Delivery
BUNDLE_DISPLAY_NAME=Delivery
CLIENT_ID=677667737775-apthglr5for9fuo3etvfis1e68qvifq9.apps.googleusercontent.com
REVERSED_CLIENT_ID=com.googleusercontent.apps.677667737775-apthglr5for9fuo3etvfis1e68qvifq9
FB_APP_ID=1984193062357342
