#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

ASSET_PREFIX=staging
BUNDLE_NAME=Delivery Staging
BUNDLE_DISPLAY_NAME=Delivery Staging
CLIENT_ID=677667737775-kaa4kduqjfki858c41i8hdaet5g55nnd.apps.googleusercontent.com
REVERSED_CLIENT_ID=com.googleusercontent.apps.677667737775-kaa4kduqjfki858c41i8hdaet5g55nnd
FB_APP_ID=1984193062357342
